body {
    background-color: rgb(191, 225, 255);
    margin: 0px;
    height: 4000px;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}
#pagecontent {
    
}
.paralax {
    background-color: #004700;
    width: 100%;
    height: 600px;
    margin-bottom: 20vh;
}

.hamburger {
    /* background-color: blue; */
    cursor: pointer;
    border-radius: 2vw;
    width: 4vw;
    height: 4vw;
}
.hamburger img {
    width: 2.5vw;
    height: 2.5vw;
    margin: 0.75vw;
}
.wrapper {
    /* background-color: green; */
    position: fixed;
    top: 0vw;
    right: 0vw;
    z-index: 1;
}
.navContent {
    /* background-color: blue; */
    
    width: 30vw;
    height: 100vh;
}
.navContent img {
    margin-top: 0.75vw;
    margin-right: 0.75vw;
   
    float: right;
}
ul {
    margin-top: 0px;
}
.bgEffect {
   animation: 0.8s ease-out 0s 1 forwards bgAnimation;
   background: rgb(215,244,255);
   background: linear-gradient(209deg, rgba(215,244,255,1) 0%, rgba(135,213,255,1) 100%);
   
} 
@keyframes bgAnimation {
    0% {
      
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        clip-path: circle(4vh at 93% 2.5%);
        
    }
    
    60% {
        
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        clip-path: circle(100% at 100% 50%);
        box-shadow: -4px 0px 20px -4px rgba(0,0,0,0.30);
    }
    100% {
        
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        clip-path: circle(120% at 100% 50%);
        box-shadow: -4px 0px 20px -4px rgba(0,0,0,0.50);
    }
  }
  @keyframes bgclose{
      0% {
          
          content: '';
          position: absolute;
          top: 0px;
          right: 0px;
          width: 100%;
          height: 100%;
          clip-path: circle(120% at 100% 50%);
          box-shadow: -4px 0px 20px -4px rgba(0,0,0,0.50);
      }
    100% {
      
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        clip-path: circle(0vh at 93% 2.5%);
        
    }
  }
  hr {
      margin-top: -20px;
      color: black;
      height: 3px;
      background-color: black;
      border: none;
      width: 80%;
      float: left;
     
    
  }
  .content {
    margin-left: 20px;

}
  .content p{
     margin: 5px;
     
  }
  .iconslot {
    position: absolute;
    bottom: 1vw;
    
  }
 .externalLink {
     
     float: left;
     margin: 0.5vw;
 }
 .externalLink img {
    width: 2.5vw;
    height: 2.5vw;
}
.close {
  
    width: 1.2vw;
    height: 1.2vw;
}

.navlink {
    font-size: 1.7em;
    display: block;
 
   
    margin-top: 10px;
    transition: 0.2s;
    
}
.navlink:hover {
    
   
    padding-left: 1vw;
}
a {
    text-decoration: none;
    color: black;
}
.contact {
    margin-top: 70%;
}
.closebutton {
cursor: pointer;
margin-top: 0px;
position: absolute;
right: 0vw;
top: 0vw;
width: 3.2vw;
height: 3.2vw;
}
.showcase {
    display: block;
    position: relative;
    margin-bottom: -20vh;
}
.display {
    background-color: red;
    width: 50vw;
    height: 50vh;
    display: block;
}
.title {
    background-color: blue;
    width: 65vw;
    height: 10vh;
    display: block;
}
.text {
    background-color: yellow;
    width: 40vw;
    height: 50vh;
    display: block;
}